html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

img {
    width: 100%;
    height: 100%;
}

p, .page li {
    font-size: 125%;
    font-weight: 500;
    line-height: 1.5;
}

p b {
    color: var(--text-color);
}

h2 {
    font-size: 300%;
    color: var(--titles);
}

h4 {
    color: var(--titles);
    font-size: 125%;
    font-weight: 600;
}

.main {
    background-color: var(--main-color);
    height: 88%;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-col {
    width: 66%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    overflow: scroll;
    scrollbar-width: none; /* Firefox 64 */
}

#pastel {
    background: linear-gradient(-45deg, #FFDFD3, #DFEDDD, #F1D8C5, #FFD9BD);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
}

#dark {
    background: linear-gradient(-45deg, #4a004a, #30004a, #520045, #422e01);
    animation: gradient 8s ease infinite;
    background-size: 400% 400%;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.right-col {
    background-color: var(--main-color);
    color: var(--text-color);
    width: 29%;
    height: 95%;
    float: right;
}

.navHead {
    padding-top: 3%;
    padding-left: 7%;
    min-height: 55%;
}


.nav ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 7%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
}

.nav li {
    margin-bottom: 3%;
}

:root {
    --highlight: #D9BBE6;
    --main-color: #fef6ec;
    --text-color: #484848;
    --titles: black;
    --hover: black;
}

a {
    background:
     linear-gradient(
       to bottom, var(--highlight) 0%,
       var(--highlight) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size .2s;
    color: var(--text-color);
    font-weight: 600;
}

a:hover {
    background-size: 4px 50px;
    color: var(--hover);
}

.pages {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3% 7% 0 3%;
    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin-top: 2%;
}

.pTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

#aboutPage {
    display: none;
}

#expPage {
    display: none;
}

#linksPage {
    display: none;
}

#name {
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-weight: bold;
    font-size: 300%;
    color: var(--titles);
}

#sub {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 150%;
    font-weight: 600;
    padding-left: .85%;
}

@media only screen and (max-width: 863px) {

    html, body {
        overflow: scroll;
        height: auto;
        min-height: 100vh;
    }

    .main {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        min-height: 100vh;
        margin-top: 5%;
    }

    .left-col {
        width: 90%;
        height: auto;
        min-height: 20vh;
    }

    .page {
        padding-left: 2%;
        padding-right: 2%;
    }

    .right-col {
        width: 90%;
    }

    .navHead {
        padding-left: 2%;
        min-height: 55%;
        height: 50vh;
    }
 
    .nav ul {
        padding-left: 2%;
    }

    #pastel {
        background: linear-gradient(-45deg, #FFDFD3, #DFEDDD, #F1D8C5, #FFD9BD);
        animation: gradient 16s ease infinite;
        background-size: 300% 100%;
    }
    
    #dark {
        background: linear-gradient(-45deg, #4a004a, #30004a, #520045, #422e01);
        animation: gradient 16s ease infinite;
        background-size: 300% 100%;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
